@media (max-width:420px)
{
    *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        font-family: sans-serif;
    }
    
    header{
        height: 10vh;
        width: 100%;
        background-color: rgb(17, 28, 44);
        position: fixed;
        z-index: 1;
        box-sizing: border-box;
        border: inset 1px rgb(17, 28, 4);
    }
    header nav{
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
    }
    header nav .logo{
        height: 100%;
        width: 50%;
        position: relative;
    }
    header nav .logo img{
        height: 85%;
        width: 32%;
        position: relative;
        left: 4%;
        top: 6%;
        border-radius: 10px;
        border: 1px solid whitesmoke;
    }
    header nav .hero{
        height: 100%;
        width: 50%;
        position: relative;
    }
    header nav .hero img{
        height: 85%;
        width: 29%;
        position: relative;
        left: 66%;
        top: 7%;
        border-radius: 50%;
        border: 1px solid whitesmoke;
    }
    
    aside{
        height: 90vh;
        width: 100%;
        top: 10vh;
        position: fixed;
        background-color: transparent;
        display: flex;
    }
    aside .btn1{
        position: absolute;
        border-radius: 8px;
        height: 4%;
        z-index: 2;
        width: 10%;
        display: none;
        left: 35%;
        border: none;
        top: 0%;
        font-size: x-large;
        background-color: rgb(17, 28, 44);
        box-shadow: 0px 1px 4px 2px grey;
        color: whitesmoke;
        font-weight: bolder;
    }
    aside .btn2{
        position: absolute;
        border-radius: 8px;
        height: 4%;
        z-index: 2;
        width: 10%;
        display: block;
        left: 2%;
        border: none;
        top: 3%;
        font-size: x-large;
        background-color: rgb(17, 28, 44);
        box-shadow: 0px 1px 4px 2px grey;
        color: whitesmoke;
        font-weight: bolder;
    }
    aside .admin-menu{
        height: 100%;
        width: 46%;
        left: -100%;
        display: flex;
        position: absolute;
        z-index: 1;
        background-color: rgb(17, 28, 44);
    }
    
    aside .admin-menu .menu {
        width: 100%;
        position: relative;
        padding-top: 10%;
        display: flex;
        flex-direction: column;
    }
    
    aside .admin-menu .menu span {
        position: relative;
        height: 2px;
        width: 90%;
        display: flex;
        border-top: 2px solid whitesmoke;
        left: 5%;
        padding-bottom: 5%;
    }
    
    aside .admin-menu .menu li a {
        list-style: none;
        color: aliceblue;
        text-decoration: none;
        padding-left: 20%;
        top: 25px;
        font-size: larger;
        justify-content: space-between;
        position: relative;
        display: flex;
        padding-bottom: 30px;
    }
    
    aside .home {
        height: 100%;
        width: 100%;
        display: flex;
        position: relative;
        background-color: rgb(36, 72, 86);
    }
    
    aside .home .home1 {
        height: 100%;
        width: 100%;
        display: flex;
        position: relative;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    aside .home .home1 .home-top {
        height: 10%;
        width: 100%;
        display: flex;
        position: relative;
        align-items: center;
        box-shadow: 1px 2px 1px 2px;
    }
    
    aside .home .home1 .home-top .greetings {
        height: 100%;
        width: 40%;
        display: none;
        position: relative;
        flex-direction: column;
        left: 2%;
        top: 2%;
        color: aliceblue;
    }
    
    aside .home .home1 .greetings h2,
    h6 {
        font-style: oblique;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 200;
    }
    
    aside .home .home1 .home-top .search {
        height: 50%;
        width: 45%;
        position: relative;
        display: flex;
        background-color: transparent;
        border-radius: 25px;
        left: 27%;
        border: none;
        align-items: center;
        box-shadow: 0px 1px 6px 1px rgb(6, 12, 12);
    }
    
    aside .home .home1 .home-top .search .search-box {
        height: 100%;
        width: 100%;
        position: relative;
        display: flex;
        background-color: transparent;
        border-radius: 25px;
        color: aliceblue;
        padding-left: 5%;
        border: none;
    }
    
    aside .home .home1 .home-top .search .btn {
        position: absolute;
        height: 100%;
        display: flex;
        left: 83%;
        width: 10%;
        border: none;
        background: transparent;
        border-radius: 50%;
        align-items: center;
        color: aliceblue;
        text-decoration: none;
    }
    
    aside .home .home1 .home-top .notify {
        height: 47%;
        width: 10%;
        position: relative;
        display: flex;
        background-color: transparent;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        left: 40%;
        box-shadow: 0px 1px 6px 1px rgb(6, 12, 12);
    }
    
    aside .home .home1 .home-top .notify a {
        position: relative;
        color: rgb(17, 28, 44);
    }
    
    aside .home .home1 .home-top .notify a .dot {
        position: absolute;
        color: red;
        font-size: 5px;
    }
    
    aside .home .home1 .home-bottom {
        height: 90%;
        width: 100%;
        background-color: transparent;
        display: flex;
        position: relative;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    
    aside .home .home1 .home-bottom .upper {
        height: 40%;
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        gap: 4%;
        padding-left: 4%;
        padding-right: 4%;
        background-color: transparent;
        position: relative;
        bottom: 2%;
        border-radius: 10px;
        justify-content: space-evenly;
        align-items: center;
        box-shadow: 0px 1px 6px 1px rgb(6, 12, 12);
    }
    
    aside .home .home1 .home-bottom .upper .box {
        height: 33%;
        width: 48%;
        background-color: rgb(17, 28, 44);
        border-radius: 10px;
        box-shadow: 0px 1px 6px 1px darkgray;
        display: flex;
        position: relative;
        cursor: pointer;
    }
    
    aside .home .home1 .home-bottom .upper .box a {
        height: 100%;
        width: 100%;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        gap: 10%;
        color: whitesmoke;
        padding-left: 4%;
        font-size: 20px;
        bottom: 12%;
    }
    
    aside .home .home1 .home-bottom .upper .box span {
        position: absolute;
        height: 100%;
        width: 100%;
        color: whitesmoke;
        align-items: center;
        display: flex;
        top: 25%;
        gap: 5%;
        left: 10%;
        font-size: larger;
        justify-content: center;
    }
    
    aside .home .home1 .home-bottom .upper .box span i {
        color: green;
    }
    
    
    aside .home .home1 .home-bottom .lower {
        height: 50%;
        width: 90%;
        background-color: transparent;
        top: 2%;
        display: flex;
        flex-wrap: wrap;
        gap: 0%;
        position: relative;
        border-radius: 10px;
        padding-top: 17%;
        padding-bottom: 10%;
        padding-left: 0%;
        padding-right: 0%;
        justify-content: space-evenly;
        align-items: center;
        box-shadow: 0px 1px 6px 1px rgb(6, 12, 12);
    }
    
    aside .home .home1 .home-bottom .lower .user {
        width: 51%;
        height: 12%;
        position: absolute;
        display: flex;
        color: whitesmoke;
        font-size: 25px;
        left: 3%;
        top: 5%;
    }
    
    aside .home .home1 .home-bottom .lower .user:hover {
        cursor: pointer;
        text-decoration: underline;
    }
    
    aside .home .home1 .home-bottom .lower .box1 {
        height: 49%;
        width: 45%;
        background-color: rgb(17, 28, 44);
        border-radius: 10px;
        box-shadow: 0px 1px 6px 1px darkgray;
        display: flex;
        position: relative;
    }
    
    aside .home .home1 .home-bottom .lower .box1 .box-left {
        width: 50%;
        height: 100%;
        border: 10px;
        position: relative;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        color: whitesmoke;
        align-items: center;
        justify-content: center;
    }
    
    aside .home .home1 .home-bottom .lower .box1 .box-left .up {
        display: flex;
        position: relative;
        height: 50%;
        width: 100%;
        font-size: x-large;
        left: 10%;
        top: 5%;
    }
    
    aside .home .home1 .home-bottom .lower .box1 .box-left .down {
        display: flex;
        position: relative;
        height: 50%;
        width: 100%;
        top: 14%;
        font-size: medium;
        left: 13%;
    }
    
    aside .home .home1 .home-bottom .lower .box1 .box-right {
        width: 50%;
        height: 100%;
        border: 10px;
        position: relative;
        display: flex;
    }
    
    aside .home .home1 .home-bottom .lower .box1 .box-right span {
        position: relative;
        display: flex;
        background-color: whitesmoke;
        border-radius: 10px;
        height: 17%;
        width: 65%;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        left: 27%;
        top: 6%;
        gap: 8%;
    }
    
    aside .home .home1 .home-bottom .lower .box1 span i {
        color: green;
    }
}